
h1 Somebody send feedback
.p
    | Someone sent you feedback for Webscope!
table
    tr
        td Rating
        td #{data.rating}
    tr
        td Email
        td #{data.email}
    tr
        td Message
        td #{data.message}
