//
   Created by oreuveni on 18/06/2016.

doctype html
html(lang='nl' style='width:100%!important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0')
    head
        title
            block title
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,')
        style(type='text/css').
            #outlook a{padding:0}
            body,html{width:100%!important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0}
            .ExternalClass{width:100%}
            .ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td{line-height:100%}
            #backgroundTable{margin:0;padding:0;width:100%!important;line-height:100%!important}
            img{outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;margin:0;padding:0;border:none}
            a img{color:#fff;text-decoration:none}
            .image_fix{display:block;margin:0}
            .spacer-hr{border-bottom:1px solid #efeff0}
            .spacer-hr-top{border-top:1px solid #efeff0}
            .spacer-row{height:20px;line-height:20px;overflow:hidden}
            .spacer-row-small{height:10px;line-height:10px;overflow:hidden}
            .spacer-row-tiny{font-size:1px;height:5px;line-height:5px;overflow:hidden}
            .spacer-gif{height:30px;width:50px;vertical-align:top}
            .button,.button a{background:#1d1f21;color:#fff;font-weight:700;border-radius:5px;text-decoration:none;font-size:18px;font-family:HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif}
            .button{padding:10px 30px}
            #content{border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;border-top:1px solid #eaeaea;font-size:16px;line-height:24px;text-align:center}
            #content .title{font-weight:700;color:#1d1f21;font-size:25px;line-height:32px}
            #content .title a{text-decoration:none!important}
            #content .p,#content p{font-size:16px;line-height:24px;text-align:center}
            .footer{border:1px solid #eaeaea;font-size:12px;color:#838383;line-height:18px}
            .footer .p{font-size:12px;color:#838383;line-height:18px}
            .footer a{color:#838383;text-decoration:underline}
            .footer .title{font-size:12px;margin-bottom:5px;color:#1d1f21;font-weight:700}
            .footer-icons{border-bottom:none}
            .footer-icons td{background:#1d1f21}
            #preheader .p{font-size:11px}
            #preheader a{color:#2b2b2b}
            #container,#main,body,html{background:#fcfcfc;color:#2b2b2b;font-family:HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;font-weight:400;font-stretch:normal;font-size:14px;line-height:22px}
            .p,p{margin-top:0;margin-bottom:15px;color:#2b2b2b;font-family:HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif}
            a{text-decoration:underline;color:#1d1f21}
            a img{border:0}
        style(type='text/css').
            .mobile-only{display:none!important}
            @media only screen and (max-width:600px){#container-width,#content img{width:100%!important;max-width:100%;height:auto!important}
                .mobile-hidden{display:none!important}
                .mobile-only{display:block!important}
                .mobile-stretcher{width:auto!important}
                .align-right,.p,p,table,td{text-align:left!important}
                td[class=pattern] .col{width:100%;display:block}
                td[class=pattern] img{width:100%;height:auto!important}
                td[class=pattern] img.icon{width:auto;height:auto!important}
                td[class=spacer]{width:15px!important}}
    body
        #container
            table#main(width='100%', cellspacing='0', cellpadding='0', border='0', style='background:#f3f3f3;color:#2b2b2b;font-family:HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;font-weight:400;font-stretch:normal;font-size:14px;line-height:22px')
                tr
                    td.spacer-row(colspan='3' style='height:20px;line-height:20px;overflow:hidden')
                tr
                    td  
                    td#container-width(width='600')
                        table#preheader(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tr
                                td
                                    .p(style='font-size:11px')
                                        | Can't read this e-mail?
                                        a(href='http://www.google.com/webversion' style='color:#2b2b2b') click here
                            tr
                                td.spacer-row-small(colspan='3' style='height:10px;line-height:10px;overflow:hidden')
                        // content
                        table#content(width='100%', bgcolor='#ffffff', cellspacing='0', cellpadding='0', border='0', style='border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;border-top:1px solid #eaeaea;border-radius:3px 3px 0 0;font-size:16px;line-height:24px;text-align:center')
                            tr
                                td(colspan='3')
                                    a#logo-link(href='http://www.google.com/')
                                        img#logo(src='https://s3-eu-west-1.amazonaws.com/webscopeapp/webscope_mail_header.png', width='600', height='150', alt='Filicode', style='border-radius:3px 3px 0 0')
                            tr
                                td.spacer-row-small(colspan='3')
                            tr
                                td.spacer-row(colspan='3' style='height:20px;line-height:20px;overflow:hidden')
                            tr
                                td.spacer-row-small(colspan='3')
                            // intro
                            tr
                                td(valign='top')
                                    block content
                        // footer
                        table.footer(width='100%', bgcolor='#ffffff', cellspacing='0', cellpadding='5', border='0' style='border:1px solid #eaeaea;border-radius:0 0 3px 3px;font-size:12px;color:#838383;line-height:18px')
                            tr
                                td.spacer-row(colspan='3' style='height:20px;line-height:20px;overflow:hidden')
                            tr
                                td(valign='top', align='center')
                                    .title(style='font-size:12px;margin-bottom:5px;color:#1d1f21;font-weight:700') Webscope

                            tr
                                td(valign='top', align='center')
                                    .p 2016 © Webscope All rights reserved.
                            tr
                                td.spacer-row-small(colspan='3' style='height:10px;line-height:10px;overflow:hidden')
                    td  
                tr
                    td(height='30', colspan='3')
