// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer{
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}