
h1 Reset Password
.p
    | In order to reset you password please click on the button below.
    | You will be transferred to the website and be asked to type a new password.
 a(href=""+data.link) reset password