
h1 Someone has added you to a new project
.p
    | Congrats. Someone has added you to a new project.
    | You will be transferred to the website and be asked to type a password.
 a(href=""+data.link) set password